name: Compile LaTeX
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Compile LaTeX documents
        uses: xu-cheng/latex-action@v3
        with:
          root_file: "**/*.tex"
      - name: Upload PDF results
        uses: actions/upload-artifact@v4
        with:
          name: PDFs
          path: "**/*.pdf"
